body{
	background-color: #666666;
}

#box{
	border: 2px solid white;
	height: 44em;
}

.block{
	border: 2px solid white;
	height: 20em;
	width: 55em;
	margin-top: 1em;
}

.row{
	display: flex;
	justify-content: space-around;
}

.red{
	background-color: red;
}

.red--Active{
	background-color: #EA4489;
}


.green{
	background-color: green;
}

.green--Active{
	background-color: #73E845;
}

.blue{
	background-color: blue;
}

.blue--Active{
	background-color: #44C8ED;
}

.yellow{
	background-color: yellow;
}

.yellow--Active{
	background-color: #f9f993;
}

#btnalign{
	text-align: center;
}

.btn{
	height: 3.5em;
	width: 10em;
	border-radius: 50px;
	background-color: lightblue;
}

#scoreDiv{
	background-color: white;
	display: inline-grid;
	grid-row: 1;
	width: 25%;
	margin-left: 6em;
}

#roundDiv{
	background-color: white;
	display: inline-grid;
	grid-row: 1;
	width: 25%;
	margin-left: 28%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}